.header {
    background: #fff;
    padding: 1rem 0;

    &__container {
        max-width: 1200px;
        padding: 1rem;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 250px;
        display: inline-block;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__favorites {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__favorites,
    &__cart {
        div {
            position: absolute;
            content: '';
            z-index: 2;
            top: -.5rem;
            right: -.5rem;
            width: 1rem;
            height: 1rem;
            min-width: max-content;
            background: red;
            border-radius: 50%;
            font-size: .8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
        }
    }

    &__cart {
        position: relative;
    }

}